In [1]:
                   #List Based Practice Problem :

In [2]:
'''1. Create a list with integers from 1 to 10.'''

a = [1,2,3,4,5,6,7,8,9,10]
type(a)

list

In [3]:
'''2. Find the length of a list without using the `len()` function.'''
#native methode
#code
# Initializing list
b = [1, 4, 5, 7, 8]
 
# Printing test_list
print("The list is : " + str(b))
 
# Finding length of list
# using loop
# Initializing counter
counter = 0
for i in b:
 
    # incrementing counter
    counter = counter + 1
 
# Printing length of list
print("Length of list using native method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using native method is : 5

In [4]:
#list for 3 to 6 
l1 = [1,2,3,5,6,'Manali','samu']
type(l1)

list

In [5]:
'''3. Append an element to the end of a list.'''
# Append object to the end of the list

#code
l1.append('Samartha')
print(l1)

[1, 2, 3, 5, 6, 'Manali', 'samu', 'Samartha']

In [6]:
'''4. Insert an element at a specific index in a list.'''
# Insert object before index

#code
l1.insert(4, 'smart') 
print(l1)

[1, 2, 3, 5, 'smart', 6, 'Manali', 'samu', 'Samartha']

In [7]:
'''5. Remove an element from a list by its value.'''

#code
l1.remove('smart')
l1

[1, 2, 3, 5, 6, 'Manali', 'samu', 'Samartha']

In [8]:
'''6. Remove an element from a list by its index.'''

# code
l1.remove(1)
print(l1)

[2, 3, 5, 6, 'Manali', 'samu', 'Samartha']

In [9]:
'''7. Check if an element exists in a list.'''


# Initializing list
test_list = [10, 15, 20, 7, 46, 2808]
 
print("Checking if 15 exists in list")
 
# number of times element exists in list
exist_count = test_list.count(15)
 
# checking if it is more than 0
if exist_count > 0:
    print("Yes, 15 exists in list")
else:
    print("No, 15 does not exists in list")

Checking if 15 exists in list
Yes, 15 exists in list

In [10]:
# below list for 8 to 10.

l2 = [3,56,5,67,22999,0,3,3,'Samu','fox','cat']

In [11]:
'''8.Find the index of the first occurrence of an element in a list.'''

l2.index(56)

1

In [12]:
'''9. Count the occurrences of an element in a list.'''

l2.count(3)

3

In [13]:
'''10. Reverse the order of elements in a list.'''

l2.reverse()
l2

['cat', 'fox', 'Samu', 3, 3, 0, 22999, 67, 5, 56, 3]

In [25]:
# Below list is for 11 and 12

l3 = [3,88,5678,0,45,78,3,25]

In [27]:
'''11. Sort a list in ascending order.'''

l3.sort()
l3

[0, 3, 3, 25, 45, 78, 88, 5678]

In [28]:
'''12. Sort a list in descending order.'''
 
l3.sort(reverse=True)
l3

[5678, 88, 78, 45, 25, 3, 3, 0]

In [29]:
'''13. Create a list of even numbers from 1 to 20.'''
#code

# list of numbers
l4 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
 
# iterating each number in list
for num in l4:
 
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

2 4 6 8 10 12 14 16 18 20

In [30]:
'''14. Create a list of odd numbers from 1 to 20.'''
#code

# list of numbers
l5 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
 
# iterating each number in list
for num in l5:
 
    # checking condition
    if num % 2 != 0:
    print(num, end=" ")

1 3 5 7 9 11 13 15 17 19

In [32]:
# Below list is for 15 to 18.

l6 = [11, 5, 17, 18, 23]

In [33]:
'''15. Find the sum of all elements in a list.'''
#code
 
# using sum() function
total = sum(l6)
 
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [34]:
'''16. Find the maximum value in a list.'''
#code
 
 #using 
total = max(l6)

# Printing total value
print ("Max element in given list: ", total)

Max element in given list:  23

In [35]:
'''17. Find the minimum value in a list.'''
#code

#using 
total = min(l6)

# Printing total value
print ("Min element in given list: ", total)

Min element in given list:  5

In [43]:
'''18. Create a list of squares of numbers from 1 to 10.'''
#code

l7= []
for i in range(1,11):
    l7.append(i*i)
print("List with square of integers from 1 to 10:")
print(l7)

List with square of integers from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
'''19. Create a list of random numbers.'''
#code

# to generate random number list
# using random.sample()
import random
 
# using random.sample()
# to generate random number list
res = random.sample(range(1, 50), 7)
 
# printing result
print ("Random number list is : " +  str(res))

Random number list is : [17, 31, 22, 14, 15, 40, 24]

In [49]:
'''20. Remove duplicates from a list.'''

#code

# initializing list
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
        + str(test_list))
 
# using set() to remove duplicated from list
test_list = list(set(test_list))
 
# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
        + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [57]:
#below list is for 21 to 23.

lis1 = [10, 15, 20, 25, 30, 35, 40]
lis2 = [25, 40, 35]

In [60]:
'''21. Find the common elements between two lists.'''
#code


def common_member(lis1, lis2):
    result = [i for i in lis1 if i in lis2]
    return result
print("The common elements in the two lists are: ")
print(common_member(lis1, lis2))

The common elements in the two lists are:
[25, 35, 40]

In [54]:
'''22. Find the difference between two lists.'''
#code

s = set(lis2)
temp3 = [x for x in lis1 if x not in s]
print(temp3)

[10, 15, 20, 30]

In [63]:
'''23. Merge two lists.'''

lis1.extend(lis2)
print('Merge list:')
print(lis1)

Merge list:
[10, 15, 20, 25, 30, 35, 40, 25, 40, 35, 25, 40, 35]

In [79]:
# Below list for 24 and 25.

l5 =[1,2,3,4,]

In [80]:
'''24. Multiply all elements in a list by 2.'''
#code
import math 
result1 = math.prod(l5*2)
print(result1)

576

In [85]:
'''25. Filter out all even numbers from a list.'''
#code

# Output list initialisation
out = []
for num in l5: 
# checking condition
  if num % 2 == 0:
    out.append(num)
# printing output
print(out)

[2, 4]

In [2]:
'''26. Convert a list of strings to a list of integers.'''
# code

lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [3]:
'''27. Convert a list of integers to a list of strings.'''

# List initialization
list_int = [1, 12, 15, 21, 131]
   
# mapping
list_string = map(str, list_int)
   
# Printing sorted list of integers
print(list(list_string))

['1', '12', '15', '21', '131']

In [4]:
'''28. Flatten a nested list.'''

l11 = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in l11 for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
'''29. Create a list of the first 10 Fibonacci numbers.'''

# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [3]:
'''30. Check if a list is sorted.'''

# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [5]:
'''32. Rotate a list to the right by `n` positions.'''

# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [3]:
'''33. Create a list of prime numbers up to 50.'''

for num in range(1, 50):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [4]:
'''34. Split a list into chunks of size `n`.'''

# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [5]:
'''35. Find the second largest number in a list.'''

# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [6]:
'''36. Replace every element in a list with its square.'''

my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [7]:
'''37. Convert a list to a dictionary where list elements become keys and their indices become values.'''

l11 = ['abc', 'def', 'ghi', 'jkl', 'mno']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(l11)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'abc': 0, 'def': 1, 'ghi': 2, 'jkl': 3, 'mno': 4}

In [8]:
'''38. Shuffle the elements of a list randomly.'''

import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [6, 8, 10, 3, 5, 9, 1, 7, 2, 4]

In [10]:
'''39. Create a list of the first 10 factorial numbers.'''

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [11]:
'''40. Check if two lists have at least one element in common.'''

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [12]:
'''41. Remove all elements from a list.'''

l12= [1, 2, 3, 4, 5]
l12.clear()
print("Empty list:", l12)

Empty list: []

In [13]:
'''42. Replace negative numbers in a list with 0'''

my_list = [60, -5, 40, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [60, 0, 40, 0, 30, 0]

In [14]:
'''43. Convert a string into a list of words.'''

str = "Hello, this is a sample sentence."
word_list = str.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [15]:
'''44. Convert a list of words into a string'''

word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [16]:
'''45. Create a list of the first n powers of 2.'''

n = 8
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 8 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128]

In [18]:
'''46. Find the longest string in a list of strings.'''

string_list = ["apple", "banana", "cherry", "date", "elephant"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elephant

In [19]:
'''47. Find the shortest string in a list of strings.'''

shortest_string = string_list[0] 
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [20]:
'''48. Create a list of the first n triangular numbers.'''

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [21]:
'''49. Check if a list contains another list as a subsequence.'''

def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [22]:
'''50. Swap two elements in a list by their indices.'''

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]