In [1]:
                            # Set Based Practice Problem :

In [2]:
'''1. Create a set with integers from 1 to 5.'''

s1 = {1,2,3,4,5}
type(s1)

set

In [3]:
# Below set for 2 to 4

s2 = {4,5,6,7,7,8,1,0,4,7}

In [4]:
'''2. Add an element to a set.'''

s2.add('Samu')
print("s2", s2 )

s2 {0, 1, 4, 5, 6, 7, 8, 'Samu'}

In [5]:
'''3. Remove an element from a set.'''

s2.remove(0)
print("s2", s2 )

s2 {1, 4, 5, 6, 7, 8, 'Samu'}

In [6]:
'''4. Check if an element exists in a set.'''

print("4 in data ", s2)

4 in data  {1, 4, 5, 6, 7, 8, 'Samu'}

In [7]:
'''5. Find the length of a set without using the `len()` function.'''

 
# Initializing set
s3= {1, 4, 5, 7, 8}
 
# Printing s3
print("The set is : " + str(s3))
 
# Finding length of s3
# using loop
# Initializing counter
counter = 0
for i in s3:
 
    # incrementing counter
    counter = counter + 1

# Printing length of set
print("Length of set using naive method is : " + str(counter))

The set is : {1, 4, 5, 7, 8}
Length of set using naive method is : 5

In [8]:
'''6. Clear all elements from a set.'''

s4 = {44,11,55,66}
s4.clear()
s4

set()

In [9]:
'''7. Create a set of even numbers from 1 to 10.'''
       
s5 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}
print("Even Set Items = ", s5)

print("\nThe Even Numbers in this s5 Set are:")
for val in s5:
    if(val % 2 == 0):
        print(val, end = "  ")

Even Set Items =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

The Even Numbers in this s5 Set are:
2  4  6  8  10  12  14  16  18  20

In [10]:
'''8. Create a set of odd numbers from 1 to 10.'''

#code
s6 = {1,2,3,4,5,6,7,8,9,10}
print("Odd Set Items = ", s6)

print("\nThe Odd Numbers in this oddSet Set are:")
for odval in s6:
    if(odval % 2 != 0):
        print(odval, end = "  ")

Odd Set Items =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The Odd Numbers in this oddSet Set are:
1  3  5  7  9

In [20]:
# Below sets for 9 to 13
A = {2, 4, 5, 6,7,8}
B = {4, 6, 7, 8}

In [21]:
'''9. Find the union of two sets.'''

print("A U B:", A.union(B))

A U B: {2, 4, 5, 6, 7, 8}

In [22]:
'''10. Find the intersection of two sets.'''

print(B.intersection(A))

{8, 4, 6, 7}

In [23]:
'''11. Find the difference between two sets.'''

print("Difference between A and B", A-B)

Difference between A and B {2, 5}

In [24]:
'''12. Check if a set is a subset of another set.'''

print("Subset:" , A.issubset(B))

Subset: False

In [25]:
'''13. Check if a set is a superset of another set.'''

print("Superset:" , A.issuperset(B))

Superset: True

In [33]:
'''14. Create a set from a list.'''

# Initialize list
l2 = [2,4,6,8,10]

# Example 1: Convert the list to a set using set()
myset = set(l2)
print("Set:", myset)

# Example 2: Convert list to set 
# Using for loop
myset = set()
for item in l2:
    myset.add(item)

# Example 3: Convert list to set 
# Using set comprehension
myset = {item for item in l2}

# Example 4: Convert list to set 
# Using dict.fromkeys() method
myset = set(dict.fromkeys(l2))

Set: {2, 4, 6, 8, 10}

In [32]:
'''15. Convert a set to a list.'''

# Initialize list
lists = [5, 2, 3, 4, 3, 5, 4, 6]

# Example 1: Convert the list to a set using set()
myset = set(lists)
print("Set:", myset)

# Example 2: Convert list to set 
# Using for loop
myset = set()
for item in lists:
    myset.add(item)

# Example 3: Convert list to set 
# Using set comprehension
myset = {item for item in lists}

# Example 4: Convert list to set 
# Using dict.fromkeys() method
myset = set(dict.fromkeys(lists))

Set: {2, 3, 4, 5, 6}

In [38]:
'''16. Remove a random element from a set.'''

import random
# initializing list
l8 = [6, 4, 8, 9, 10]
 
# printing list
print("The original list : " + str(l8))
 
# Remove random element from list
# Using randrange() + pop()
l8.pop(random.randrange(len(l8)))
 
# Printing result
print("List after removal of random number : " + str(l8))

The original list : [6, 4, 8, 9, 10]
List after removal of random number : [4, 8, 9, 10]

In [39]:
'''17. Pop an element from a set.'''

fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

banana

In [40]:
'''18. Check if two sets have no elements in common.'''

a = {23,45,78,8,56}
b = {42,55,26,87}

print("a :",a)
print("b :",b)

print("\nTwo given sets have no Elements in Common..")
print("\nCompare A and B : ",a.isdisjoint(b))
print("Compare B and a: ",b.isdisjoint(a))

a : {23, 8, 56, 45, 78}
b : {42, 26, 55, 87}

Two given sets have no Elements in Common..

Compare A and B :  True
Compare B and a:  True

In [42]:
'''19. Find the symmetric difference between two sets.'''

set1 = {1, 2, 3, 4, 5}  
set2 = {4, 5, 6, 7, 8}  
  
# Compute symmetric difference using the caret operator  
sym_diff = set1 ^ set2  
  
# Print the symmetric difference  
print("Symmetric Difference:", sym_diff)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
'''20. Update a set with elements from another set.'''

In [44]:
'''21. Create a set of the first 5 prime numbers.'''

s9 = {2,3,5,7,11}
print("Set of first 5 prime no:", s9)

Set of first 5 prime no: {2, 3, 5, 7, 11}

In [1]:
'''22. Check if two sets are identical.'''

set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [2]:
'''23. Create a frozen set'''

elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [3]:
'''24. Check if a set is disjoint with another set.'''

set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [5]:
'''25. Create a set of squares of numbers from 1 to 5'''

squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [6]:
'''26. Filter out all even numbers from a set.'''

original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [7]:
'''27. Multiply all elements in a set by 2.'''

original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [8]:
'''28. Create a set of random numbers.'''

import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {42, 20, 56, 92, 61}

In [9]:
'''29. Check if a set is empty.'''

my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [10]:
'''30. Create a nested set (hint: use frozenset).'''

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [11]:
'''31.  Remove an element from a set using the discard method.'''

my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [12]:
'''32. Compare two sets.'''

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [13]:
'''33. Create a set from a string.'''

input_string = "hello"
char_set = set(input_string)
print(char_set)

{'o', 'h', 'e', 'l'}

In [14]:
'''34. Convert a set of strings to a set of integers.'''

string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '123', '456'}
Converted Integer Set: {456, 123, 789}

In [15]:
'''35. Convert a set of integers to a set of strings.'''

integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '1', '2', '3', '5'}

In [17]:
'''36. Create a set from a tuple.'''

input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [18]:
'''37. Convert a set to a tuple.'''

input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [19]:
'''38. Find the maximum value in a set.'''

my_set = {15, 7, 22, 13, 8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num 
print("Maximum value:", max_value)

Maximum value: 22

In [21]:
'''39. Find the minimum value in a set.'''

number_set = {15, 8, 23, 4, 42, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [23]:
'''40. Create a set from user input.'''

user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  samu,shruti,rasika
>  done

Final set: {'samu,shruti,rasika'}

In [24]:
'''41. Check if the intersection of two sets is empty.'''

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [25]:
''' 42. Create a set of the first 5 Fibonacci numbers.'''

fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [26]:
'''43. Remove duplicates from a list using sets.'''

original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [3]:
'''44. Check if two sets have the same elements, regardless of their count.'''

def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [4]:
'''45. Create a set of the first `n` powers of 2'''

def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [5]:
'''46. Find the common elements between a set and a list.'''

my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [6]:
'''47. Create a set of the first `n` triangular numbers.:'''

def generate_triangular_numbers(n):
    triangular_numbers = set() 
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number) 
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  3

The set of the first 3 triangular numbers is: {1, 3, 6}

In [7]:
'''48. Check if a set contains another set as a subset.'''

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''


def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0) 
    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

In [8]:
'''50. Merge multiple sets into one'''

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}