In [ ]:
                      # Tuple Based Practice Problem :

In [2]:
'''1.Create a tuple with integers from 1 to 5.'''

t1 = (1,2,3,4,'Hello')

(1, 2, 3, 4, 'Hello')

In [3]:
type(t1)

tuple

In [4]:
# Below Tuple for 2 to 5

t2 = (1,2,3,4,"Samu","Hello",4,66,4,4,4)

In [5]:
'''2. Access the third element of a tuple.'''

t2[3]

4

In [ ]:
'''3. Find the length of a tuple without using the `len()` function.'''

In [6]:
'''4. Count the occurrences of an element in a tuple.'''

t2.count(4)

5

In [7]:
'''5. Find the index of the first occurrence of an element in a tuple.'''

t2.index(1)

0

In [3]:
'''6. Check if an element exists in a tuple.'''

t5 = (10, 20, 30, 40, 50,60)
element_to_check = 60
if element_to_check in t5:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

60 exists in the tuple.

In [4]:
'''7. Convert a tuple to a list.'''

t6 = (10, 20, 30, 40, 50)
my_list = list(t6)
print("Tuple:", t6)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [6]:
'''8. Convert a list to a tuple.'''

l1 = [10, 20, 30, 40, 50]
my_tuple = tuple(l1)
print("List:", l1)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [7]:
'''9. Unpack the elements of a tuple into variables.'''

t7 = (10, 20, 30)
var1, var2, var3 = t7
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [9]:
'''10. Create a tuple of even numbers from 1 to 10.'''

e = [num for num in range(2, 11, 2)] 
e = tuple(e)
print("Tuple of even numbers:", e)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [10]:
'''11. Create a tuple of odd numbers from 1 to 10.'''

e = [num for num in range(2, 11, 2)] 
e = tuple(e)
print("Tuple of even numbers:", e)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [12]:
'''12. Concatenate two tuples.'''

t1 = (1, 2, 3)
t2 = (4, 5, 6)
concatenated_tuple = t1 + t2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [13]:
'''13. Repeat a tuple three times.'''

o = (1, 2, 3)
r = o * 3
print("Repeated tuple:", r)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
''' 14. Check if a tuple is empty.'''

et = ()
net = (1, 2, 3)
if not et:
    print("The empty tuple is empty.")
else:
    print("The empty tuple is not empty.")

if not net:
    print("The non empty tuple is empty.")
else:
    print("The non empty tuple is not empty.")

The empty tuple is empty.
The non empty tuple is not empty.

In [16]:
'''15. Create a nested tuple.'''

nt = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nt)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [18]:
'''16. Access the first element of a nested tuple.'''

nt = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nt[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [19]:
'''17. Create a tuple with a single element.'''

s = (42,)  
print("Single element tuple:", s)

Single element tuple: (42,)

In [20]:
'''18. Compare two tuples.'''

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3,4,5,7)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [22]:
'''19. Delete a tuple.'''

'19. Delete a tuple.'

In [23]:
'''20. Slice a tuple.'''

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6] 
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [24]:
'''21. Find the maximum value in a tuple'''

my_tuple = (10, 20, 5, 45, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 45

In [25]:
'''22. Find the minimum value in a tuple.'''

tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

In [26]:
'''23. Convert a string to a tuple of characters.'''

my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [27]:
'''24. Convert a tuple of characters to a string.'''

tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [28]:
'''25. Create a tuple from multiple data types.'''

mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [30]:
'''26. Check if two tuples are identical'''

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [2]:
'''27. Sort the elements of a tuple.'''

integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [5]:
'''28. Convert a tuple of integers to a tuple of strings.'''

tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [6]:
'''29. Convert a tuple of strings to a tuple of integers.'''

tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [7]:
'''30. Merge two tuples.'''

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [8]:
'''31. Flatten a nested tuple.'''

def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
'''32. Create a tuple of the first 5 prime numbers.'''

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [10]:
'''33. Check if a tuple is a palindrome.'''

def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome1 = is_palindrome(palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)

palindrome_tuple is a palindrome: True

In [12]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''

squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [16]:
'''35. Filter out all even numbers from a tuple.'''

criginal_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [18]:
'''36. Multiply all elements in a tuple by 2.'''

original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [19]:
'''37. Create a tuple of random numbers.'''

import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Random tuple:", random_tuple)

Random tuple: (21, 48, 3, 32, 7, 16, 6, 36, 81, 35)

In [20]:
'''38. Check if a tuple is sorted.'''

def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
is_sorted1 = is_sorted(sorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)

sorted_tuple is sorted: True

In [21]:
'''39. Rotate a tuple to the left by `n` positions.'''

def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [22]:
'''40. Rotate a tuple to the right by `n` positions.'''

def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [23]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''

def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number) 
    return tuple(fibonacci) 
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [24]:
'''42. Create a tuple from user input.'''

input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s,a,m,a,r,t,h,a

User input tuple: ('s', 'a', 'm', 'a', 'r', 't', 'h', 'a')

In [25]:
'''43. Swap two elements in a tuple.'''

my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [26]:
''' 44. Reverse the elements of a tuple.'''

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [27]:
'''45. Create a tuple of the first `n` powers of 2.'''

n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [28]:
'''46. Find the longest string in a tuple of strings.'''

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [29]:
'''47. Find the shortest string in a tuple of strings.'''

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [30]:
''' 48. Create a tuple of the first `n` triangular numbers.'''

n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [31]:
''' 49. Check if a tuple contains another tuple as a subsequence.'''

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [32]:
'''50. Create a tuple of alternating 1s and 0s of length `n`.'''

n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)